.products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.product {
    width: 300px;
}
.product:not(:first-child) {
    margin-left: 20px;
}

.products .order-btn {
    width: 300px;
    margin-top: 20px;
}